page-login {

}

.myview {
    background-image: url('../assets/images/loginbackground.jpg');
    background-size: cover;
}

.transparent-background{
    background-color: transparent;
}

.logar {
    
    color: red;
  }


  .text-input::-moz-placeholder {
    color: red;
  }
  
  .text-input:-ms-input-placeholder {
    color: red;
  }
  
  .text-input::-webkit-input-placeholder {
    color: red;
  }