page-moviedetail {

}

.transparent-background{
    background-color: transparent;
}

.allbackground {
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
}

.transparent-background{
    background-color: transparent;
}