page-home {

}

.allbackground {
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
}

.transparent-background{
    background-color: transparent;
    box-shadow: none;
}

.card a.item
{
border-top: 0px;
border-left: 0px;
border-right: 0px;
border-bottom: 0px;
}

.no-shadow{
    box-shadow: none;
}