// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*.fixed-content{
    background-color: #f1f1f1;
}*/

ion-input {
    color:"#ffffff";
    text-decoration-color: #ffffff;
}

.item-input {
    background-color: #F2F2F2;
}

ion-menu .header ion-avatar img{ 
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

.allbackground {
    /*background-image: url('../assets/images/background.jpg');
    background-size: cover;*/
    background-color: #1c1c1e;
}

.transparent-background{
    background-color: transparent;
    box-shadow: none;
}

ion-menu .header {
    background-image: url("../assets/images/ironman.png");
    background-size: cover;
    //background-position: -4px 189px;
}

.toolbar-background-md{
    background-color: transparent;
}

.item-md.item-block .item-inner{
    border-bottom: none;
}

.menuheadername{
    color: white;
    text-shadow: 2px 2px #000000;
    //-webkit-text-stroke: 1px darkslategray;
}

.toolbar-md {
    border-bottom: 3px solid black;
}

