page-movies {

    .movietitle{
        margin-top: 5px;
        text-decoration: underline;
    }
    
    /*.allbackground {
        background-image: url('../assets/images/background.jpg');
        background-size: cover;
    }*/
    
    .item, .item-divider {
        border-color: white;
    }

}


